meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Marco normativo internacional - nacional
meta(meta name="description" content="Los ataques con ácidos, álcalis o sustancias corrosivas, en adelante: agentes químicos, no son un evento aislado, sino una de las manifestaciones de las violencias de género, esto es que son ejercidas, principalmente contra las mujeres por el solo hecho de ser mujeres. ")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")