h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas  
                    +navTemaItem('text', 'Introducción', 'main.html#page/introduccion/')                              
                    +navTemaItem('1', 'Víctimas de violencias por agentes químicos en Colombia', 'main.html#page/victimas_de_violencia/')
                    +navTemaItem('2', 'Marco normativo internacional - nacional', 'main.html#page/marco_normativo/')