h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span Reconocer lineamientos normativos sobre garantía de derechos a las víctimas de violencia basadas en género teniendo en cuenta referentes nacionales e internacionales.