.container
    .header-ecored
        h1 2. Marco normativo internacional y nacional
    .jumbotron.bg-white
        .row.justify-content-center.align-items-center
            .col-12.col-md-8 
                .sub-ecored    
                    h2 Introducción            
                p Colombia ha firmado, adoptado e incorporado a la legislación interna, pactos, declaraciones y convenciones internacionales que abordan los derechos de las mujeres.

                p Estos instrumentos, sumados a las plataformas de acción de las conferencias mundiales, definen las obligaciones que el Estado colombiano tiene en cuanto al respeto, protección y garantía de los derechos de las mujeres, creando mandatos en materia de atención de las que son, o han sido, víctimas de violencias basadas en género. 

                p Este conjunto de normas obliga a Colombia a prevenir y condenar la discriminación y la violencia contra la mujer; a crear las condiciones para identificar, atender, rehabilitar y proteger a las víctimas integralmente y con enfoque diferencial; a generar los mecanismos para documentar y monitorear la problemática; a la verdad, la justicia, la reparación y la garantía de no repetición de los hechos constitutivos de violencia. 
            .col-12.col-md-4
                img.img-a(src="assets/images/pages/ilustraciones/img18.png").img-fluid        

        #accordionExample.accordion.mt-5
            .card.collapsable-border
                #heading1.card-header
                    h2.mb-0
                        button.btn.btn-link(type='button', data-toggle='collapse', data-target='#collapse1', aria-expanded='true', aria-controls='collapse1')
                            h2.mb-0.collapsable-title#21 2.1 Normatividad internacional
                #collapse1.collapse.show(aria-labelledby='heading1', data-parent='#accordionExample')
                    .card-body
                        .row.justify-content-center.align-items-center
                            .col 
                                p Diferentes instrumentos internacionales de derechos humanos se constituyen en cartas de derechos comunes que parten del reconocimiento de la igualdad entre hombres y mujeres y de las garantías inherentes al ser humano. 
                                p Consultar el apartado 12.1 pág. 56 de la Resolución 4568 de 2014. Para ello puede acceder al siguiente enlace de la biblioteca digital SENA. 
                            .col-auto
                                img.img-a.my-3(src="assets/images/pages/ilustraciones/img19.png").img-fluid        
                                .row.justify-content-center.align-items-center
                                    .col-auto
                                        a(href="https://sena-leyex-info.bdigital.sena.edu.co/normativa/detalle/resolucion-4568-de-2014-40082/pdf" target="_blank").media-link.media-link-t   

                                            img(src="assets/images/pages/ilustraciones/lib.png", alt="").media-link-icon

                                            .media-link-title
                                                p #[strong Biblioteca Digital]   
            .card.collapsable-border
                #heading2.card-header
                    h2.mb-0
                        button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapse2', aria-expanded='false', aria-controls='collapse2')
                            h2.mb-0.collapsable-title#22 2.2 Normatividad nacional
                #collapse2.collapse(aria-labelledby='heading2', data-parent='#accordionExample')
                    .card-body
                        .jumbotron.bg-8     
                            img(src="assets/images/pages/ilustraciones/img7.png").img-fluid 
                            p.mt-3 “Los tratados y convenios internacionales ratificados por el Congreso, que reconocen los derechos humanos y que prohíben su limitación en los estados de excepción, prevalecen en el orden interno. 
                            p.mb-3 Los derechos y deberes consagrados en esta carta, se interpretarán de conformidad con los tratados internacionales sobre derechos humanos ratificados por Colombia”.
                        .row.img-end.align-items-center.text-sup-3
                            .col-6
                                img.i-right-3(src="assets/images/pages/ilustraciones/img9.png").img-fluid

                                p.collapsable-title.jumbotron.bg-6.py-3 Fuente: Constitución Política de Colombia [Const]. Art. 93. 7 de julio de 1991 (Colombia).                              
 
            .card.collapsable-border
                #heading3.card-header
                    h2.mb-0
                        button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapse3', aria-expanded='false', aria-controls='collapse3')
                            h2.mb-0.collapsable-title#23 2.3 Artículo 13 y 43 de la constitución Nacional
                #collapse3.collapse(aria-labelledby='heading3', data-parent='#accordionExample')
                    .card-body
                        .sub-ecored
                            h3 Artículo 13 de la Constitución Nacional 
                        .jumbotron.bg-8     
                            img(src="assets/images/pages/ilustraciones/img7.png").img-fluid 
                            p.my-3 “Todas las personas nacen libres e iguales ante la ley, recibirán la misma protección y trato de las autoridades y gozarán de los mismos derechos, libertades y oportunidades sin ninguna discriminación por razones de sexo, raza, origen nacional o familiar, lengua, religión, opinión política o filosófica”.
                        .row.img-end.align-items-center.text-sup-3
                            .col-6
                                img.i-right-3(src="assets/images/pages/ilustraciones/img9.png").img-fluid

                                p.collapsable-title.jumbotron.bg-6.py-3 Fuente: Constitución Política de Colombia  [Const]. Art. 13. 7 de julio de 1991 (Colombia).
                        .sub-ecored.mt-5
                            h3 Artículo 43 de la Constitución Nacional                         
                        .jumbotron.bg-8     
                            img(src="assets/images/pages/ilustraciones/img7.png").img-fluid 
                            p.mt-3 “La mujer y el hombre tienen iguales derechos y oportunidades. La mujer no podrá ser sometida a ninguna clase de discriminación. Durante el embarazo y después del parto gozará de especial asistencia y protección del Estado, y recibirá este subsidio alimentario si entonces estuviere desempleada o desamparada.
                            p.mb-3 El Estado apoyará de manera especial a la mujer cabeza de familia”.

                        .row.img-end.align-items-center.text-sup-3
                            .col-6
                                img.i-right-3(src="assets/images/pages/ilustraciones/img9.png").img-fluid

                                p.collapsable-title.jumbotron.bg-6.py-3 Fuente: Constitución Política de Colombia  [Const]. Art. 43. 7 de julio de 1991 (Colombia).

            .card.collapsable-border
                #heading4.card-header
                    h2.mb-0
                        button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapse4', aria-expanded='false', aria-controls='collapse4')
                            h2.mb-0.collapsable-title#24 2.4 Ley 1257 de 2008 y Ley 906 de 2004 (artículo 11).
                #collapse4.collapse(aria-labelledby='heading4', data-parent='#accordionExample')
                    .card-body
                        .row.justify-content-center.align-items-stretch
                            .col-12.col-md-6 
                                .jumbotron.bg-8     
                                    img(src="assets/images/pages/ilustraciones/img7.png").img-fluid 
                                    p.mt-3 “(...) por la cual se dictan normas de sensibilización, prevención y sanción de formas de violencia y discriminación contra las mujeres, se reforman los códigos penal, de procedimiento penal, la Ley 294 de 1996 y se dictan otras disposiciones”.
                            .col-12.col-md-6 
                                p Esta ley amplió la conceptualización de las violencias contra las mujeres, estableciendo definiciones de daño físico, psicológico, sexual y patrimonial padecido por las mujeres tanto en el ámbito público como privado.
                                p Para ello puede acceder al siguiente enlace de la biblioteca digital SENA, ubicar el artículo 8,  el cual establece los “Derechos de las víctimas de violencia”.
                                .row.justify-content-center.align-items-center.mt-3
                                    .col-auto
                                        a(href="https://sena-leyex-info.bdigital.sena.edu.co/normativa/detalle/resolucion-4568-de-2014-40082/pdf" target="_blank").media-link.media-link-t   

                                            img(src="assets/images/pages/ilustraciones/lib.png", alt="").media-link-icon

                                            .media-link-title
                                                p #[strong Biblioteca Digital]
                        h3 Ley 906 de 2004 (Código de procedimiento penal) artículo 11: 

                        p.mt-3 Derechos de las víctimas: el Estado garantizará el acceso de las víctimas a la administración de justicia, en los términos establecidos en este código.

                        p.mt-3 Características de los ataques con ácidos, álcalis o sustancias similares o corrosivas en Colombia                                           
                        p.mt-5 Tabla 12.6. Derechos de las mujeres víctimas de violencias
 
                        table.table.mt-5
                            tbody
                                tr
                                    td.table-1 LEY 906 DE 2004

                                    td.table-2 LEY 1257 DE 2008
                            tbody
                                tr
                                    td.table-2_1 Artículo 11. Derechos de las víctimas.
                                        p El Estado garantizará el acceso de las víctimas a la administración de justicia en los términos establecidos en este código. En desarrollo de lo anterior, las víctimas tendrán derecho:
                                    td.table-1_1 Artículo 8o. Derechos de las víctimas de violencia.
                                        p Toda víctima de alguna de las formas de violencia previstas en la presente ley, además de los contemplados en el artículo 11 de la Ley 906 de 2004#[sup xliv] y el artículo 15 de la Ley 360 de 1997#[sup xlv], tiene derecho a:      

                            tbody
                                tr.table-3.text-center
                                     <td colspan="2"> Atención integral     
                        
                            tbody
                                tr.table-2_1.text-center
                                     <td colspan="2"> a) Recibir atención integral a través de servicios con cobertura suficiente, accesible y de la calidad.  

                            tbody
                                tr.table-3.text-center
                                     <td colspan="2"> Dignidad, intimidad, seguridad
                            tbody
                                tr
                                    td.table-2_1 a) A recibir, durante todo el procedimiento, un trato humano y digno.
                                        p b) A la protección de su intimidad, a la garantía de su seguridad, y a la de sus familiares y testigos a favor.
                                    td.table-1_1 f) Ser tratada con reserva de identidad al recibir la asistencia médica, legal, o asistencia social respecto de sus datos personales, los de sus descendientes o los de cualquiera otra persona que esté bajo su guarda o custodia.
                                        p h) Acceder a los mecanismos de protección y atención para ellas, sus hijos e hijas.
                                        p k) A decidir voluntariamente si puede ser confrontada con el agresor en cualquiera de los espacios de atención y en los procedimientos administrativos, judiciales o de otro tipo.  

                            tbody
                                tr.table-3.text-center
                                     <td colspan="2"> Verdad, justicia, reparación y garantía de no repetición                    
                            tbody
                                tr
                                    td.table-2_1 c) A una pronta e integral reparación de los daños sufridos, a cargo del autor o partícipe del injusto o de los terceros llamados a responder en los términos de este código.
                                    td.table-1_1 i) La verdad, la justicia, la reparación y garantías de no repetición frente a los hechos constitutivos de violencia. 
                        .row.justify-content-center.align-items-center
                            .col-12.col-md-8
                                .row.z-sup.mt-5
                                    .col-auto
                                        img.i-left-1(src="assets/images/pages/ilustraciones/img6.png").img-fluid
                                        
                                .row.text-sup-1 
                                    .col-8
                                        p.bg-4.text-white Las violencias contra las mujeres incluyen: violencia física, psicológica, sexual y patrimonial.
                            .col-12.col-md-4
                                a(href="https://sena-leyex-info.bdigital.sena.edu.co/normativa/detalle/resolucion-4568-de-2014-40082/pdf" target="_blank").media-link.media-link-t   

                                    img(src="assets/images/pages/ilustraciones/lib.png", alt="").media-link-icon

                                    .media-link-title
                                        p #[strong Biblioteca Digital] 

            .card.collapsable-border
                #heading5.card-header
                    h2.mb-0
                        button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapse5', aria-expanded='false', aria-controls='collapse5')
                            h2.mb-0.collapsable-title#25 2.5 Ley 1639 de 2013
                #collapse5.collapse(aria-labelledby='heading5', data-parent='#accordionExample')
                    .card-body
                        p Por medio del cual se fortalecen las medidas de protección a la integridad de las víctimas de crímenes con ácido y se adiciona el artículo 113 de la Ley 599 de 2000 (código penal).

                        p.mt-3 En lo relacionado con las obligaciones del sector salud dicha ley establece:  
                        .list.mt-3
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                            .list__txt    
                                p.m-top Atención gratuita y a cargo del Estado.

                        .list.mt-3
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                            .list__txt    
                                p.m-top Registro y reporte a las autoridades competentes.
                        p.mt-3 Consultar el apartado. 
                        .row.justify-content-center.align-items-center.mt-3
                            .col-auto
                                a(href="https://sena-leyex-info.bdigital.sena.edu.co/normativa/detalle/ley-1639-de-2013-29829/pdf" target="_blank").media-link.media-link-t   

                                    img(src="assets/images/pages/ilustraciones/lib.png", alt="").media-link-icon

                                    .media-link-title
                                        p #[strong Biblioteca Digital]                        
 
            .card.collapsable-border
                #heading6.card-header
                    h2.mb-0
                        button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapse6', aria-expanded='false', aria-controls='collapse6')
                            h2.mb-0.collapsable-title#26 2.6 Ley 1438 de 2011 Artículos: 19, 53, 54.
                #collapse6.collapse(aria-labelledby='heading6', data-parent='#accordionExample')
                    .card-body
                        p Por medio de la cual se reformó el SGSSS, dispone la gratuidad de los servicios que permitan el restablecimiento de derechos de las víctimas incluyendo la salud. 
                        .row.justify-content-center.align-items-center.mt-3
                            .col-auto
                                a(href="https://sena-leyex-info.bdigital.sena.edu.co/normativa/detalle/ley-1438-de-2011-14348/pdf" target="_blank").media-link.media-link-t   

                                    img(src="assets/images/pages/ilustraciones/lib.png", alt="").media-link-icon

                                    .media-link-title
                                        p #[strong Biblioteca Digital]                            
            .card.collapsable-border
                #heading7.card-header
                    h2.mb-0
                        button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapse7', aria-expanded='false', aria-controls='collapse7')
                            h2.mb-0.collapsable-title#27 2.7 Resolución 5521 de 2013
                #collapse7.collapse(aria-labelledby='heading7', data-parent='#accordionExample')
                    .card-body
                        p Define, aclara y actualiza integralmente el Plan Obligatorio de Salud, ofrece herramientas para gestionar oportunamente la atención, medicamentos, insumos, suministros y materiales, incluyendo el material de curación.
                        .row.justify-content-center.align-items-center.mt-3
                            .col-auto
                                a(href="https://sena-leyex-info.bdigital.sena.edu.co/normativa/detalle/resolucion-5521-de-2013-33846/pdf" target="_blank").media-link.media-link-t   

                                    img(src="assets/images/pages/ilustraciones/lib.png", alt="").media-link-icon

                                    .media-link-title
                                        p #[strong Biblioteca Digital]                           
            .card.collapsable-border
                #heading8.card-header
                    h2.mb-0
                        button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapse8', aria-expanded='false', aria-controls='collapse8')
                            h2.mb-0.collapsable-title#28 2.8 Sentencia T-760 de 2008
                #collapse8.collapse(aria-labelledby='heading8', data-parent='#accordionExample')
                    .card-body
                        .list
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                            .list__txt    
                                p.m-top Acceso a servicios.

                        .list.mt-3
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                            .list__txt    
                                p.m-top Acceso con continuidad a la salud. 

                        .row.justify-content-center.align-items-center.mt-3
                            .col-auto
                                a(href="https://sena-leyex-info.bdigital.sena.edu.co/jurisprudencia/detalle/tutela-t-760-de-2008-19136/txt" target="_blank").media-link.media-link-t   

                                    img(src="assets/images/pages/ilustraciones/lib.png", alt="").media-link-icon

                                    .media-link-title
                                        p #[strong Biblioteca Digital]   
            .card.collapsable-border
                #heading9.card-header
                    h2.mb-0
                        button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapse9', aria-expanded='false', aria-controls='collapse9')
                            h2.mb-0.collapsable-title#29 2.9 Resolución 4568 de 2014
                #collapse9.collapse(aria-labelledby='heading9', data-parent='#accordionExample')
                    .card-body
                        p Por la cual se adopta el “Protocolo de Atención de Urgencias a Víctimas de Ataques con Agentes Químicos”
                        .row.justify-content-center.align-items-center.mt-3
                            .col-auto
                                a(href="https://sena-leyex-info.bdigital.sena.edu.co/normativa/detalle/resolucion-4568-de-2014-40082/pdf" target="_blank").media-link.media-link-t   

                                    img(src="assets/images/pages/ilustraciones/lib.png", alt="").media-link-icon

                                    .media-link-title
                                        p #[strong Biblioteca Digital]                           
            .card.collapsable-border
                #heading10.card-header
                    h2.mb-0
                        button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapse10', aria-expanded='false', aria-controls='collapse10')
                            h2.mb-0.collapsable-title#210 2.10 Circular 016 de 2014
                #collapse10.collapse(aria-labelledby='heading10', data-parent='#accordionExample')
                    .card-body
                        p Exención de pago de cuotas moderadoras y copagos por leyes especiales (Numeral 9). 
                        .row.justify-content-center.align-items-center.mt-3
                            .col-auto
                                a(href="https://sena-leyex-info.bdigital.sena.edu.co/normativa/detalle/resolucion-5521-de-2013-33846/pdf" target="_blank").media-link.media-link-t   

                                    img(src="assets/images/pages/ilustraciones/lib.png", alt="").media-link-icon

                                    .media-link-title
                                        p #[strong Biblioteca Digital]

            .card.collapsable-border
                #heading11.card-header
                    h2.mb-0
                        button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapse11', aria-expanded='false', aria-controls='collapse11')
                            h2.mb-0.collapsable-title#211 2.11 Decreto 1033 de 2014
                #collapse11.collapse(aria-labelledby='heading11', data-parent='#accordionExample')
                    .card-body
                        p Por el cual se reglamenta la Ley 1639 de 2013 por medio de la cual se fortalecen las medidas de protección a la integridad de las víctimas de crímenes con ácido y se adiciona el Artículo 113 de la Ley 599 de 2000.
                        .row.justify-content-center.align-items-center.mt-3
                            .col-auto
                                a(href="https://sena-leyex-info.bdigital.sena.edu.co/normativa/detalle/decreto-1033-de-2014-36700/pdf" target="_blank").media-link.media-link-t   

                                    img(src="assets/images/pages/ilustraciones/lib.png", alt="").media-link-icon

                                    .media-link-title
                                        p #[strong Biblioteca Digital]                        
            .card.collapsable-border
                #heading12.card-header
                    h2.mb-0
                        button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapse12', aria-expanded='false', aria-controls='collapse12')
                            h2.mb-0.collapsable-title#212 2.12 Ley 1773 de 2016
                #collapse12.collapse(aria-labelledby='heading12', data-parent='#accordionExample')
                    .card-body
                        p Por medio del cual se crea el Artículo 116a, se modifican los Artículos 68a, 104, 113, 359 y 374 de la ley 599 de 2000 y se modifica el Artículo 351 de la Ley 906 de 2004. 
                        .row.justify-content-center.align-items-strech.mt-3.jumbotron.bg-8
                            .col-12.col-md-6 
                                p Artículo 116a Ley 599 de 2000:
                                p El que cause a otro daño en el cuerpo o en la salud, usando para ello cualquier tipo de agente químico, álcalis, sustancias similares o corrosivas que generen destrucción al entrar en contacto con el tejido humano, incurrirá en pena de prisión de ciento cincuenta (150) meses a doscientos cuarenta (240) meses y multa de ciento veinte (120) a doscientos cincuenta (250) salarios mínimos legales mensuales vigentes.                            
                            .col-12.col-md-6
                                p Cuando la conducta cause deformidad o daño permanente, pérdida parcial o total, funcional o anatómica, la pena será de doscientos cincuenta y un (251) meses a trescientos sesenta (360) meses de prisión y multa de mil (1.000) a tres mil (3.000) salarios mínimos legales mensuales vigentes.

                                p Si la deformidad afecta el rostro, la pena se aumentará hasta en una tercera parte. 
                        .row.justify-content-center.align-items-center
                            .col-12.col-md-8
                                .row.z-sup.mt-5
                                    .col-auto
                                        img.i-left-1(src="assets/images/pages/ilustraciones/img6.png").img-fluid
                                        
                                .row.text-sup-1 
                                    .col-8
                                        p.bg-4.text-white Las lesiones con agentes químicos, ácido y/o sustancias similares son un delito tipificado en el artículo 116 a de la Ley 599 de 2000 (Código penal)
                            .col-12.col-md-4
                                a(href="https://sena-leyex-info.bdigital.sena.edu.co/normativa/detalle/decreto-1033-de-2014-36700/pdf" target="_blank").media-link.media-link-t   

                                    img(src="assets/images/pages/ilustraciones/lib.png", alt="").media-link-icon

                                    .media-link-title
                                        p #[strong Biblioteca Digital]    

            .card.collapsable-border
                #heading13.card-header
                    h2.mb-0
                        button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapse13', aria-expanded='false', aria-controls='collapse13')
                            h2.mb-0.collapsable-title#213 2.13 Circular externa 008 de 2017
                #collapse13.collapse(aria-labelledby='heading13', data-parent='#accordionExample')
                    .card-body
                        p Instrucciones respecto a la Ruta de atención integral a víctimas de ataques con ácidos, álcalis o sustancias similares corrosivas. Superintendencia Nacional de Salud. 
                        .row.justify-content-center.align-items-center.mt-3
                            .col-auto
                                a(href="https://sena-leyex-info.bdigital.sena.edu.co/noticias/detalle/se-reglamentan-las-medidas-de-proteccion-a-la-integridad-de-las-victimas-de-crimenes-con-acido-9311" target="_blank").media-link.media-link-t   

                                    img(src="assets/images/pages/ilustraciones/lib.png", alt="").media-link-icon

                                    .media-link-title
                                        p #[strong Biblioteca Digital]                           
            .card.collapsable-border
                #heading14.card-header
                    h2.mb-0
                        button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapse14', aria-expanded='false', aria-controls='collapse14')
                            h2.mb-0.collapsable-title#214 2.14 Ley 1971 de 2019
                #collapse14.collapse(aria-labelledby='heading14', data-parent='#accordionExample')
                    .card-body
                        p Por medio de la cual se modifica el Artículo 5 de la Ley 1639 de 2013, se crean otras medidas de protección a favor de las víctimas de delitos con sustancias corrosivas a la piel, y se dictan otras disposiciones.
                        .row.justify-content-center.align-items-center.mt-3
                            .col-auto
                                a(href="https://sena-leyex-info.bdigital.sena.edu.co/normativa/detalle/ley-1971-de-2019-49637/pdf" target="_blank").media-link.media-link-t   

                                    img(src="assets/images/pages/ilustraciones/lib.png", alt="").media-link-icon

                                    .media-link-title
                                        p #[strong Biblioteca Digital]
        .sub-ecored.mt-5#215    
            h2 2.15 Responsabilidades del SGSSS para la implementación del Protocolo de atención de urgencias a víctimas de ataques con agentes químicos
        p.mt-5 Todos los integrantes del Sistema General de Seguridad Social en Salud SGSSS son responsables de la implementación del Protocolo de atención de urgencias a víctimas de ataques con agentes químicos teniendo en cuenta su nivel de competencia.                                                                                           
        .row.justify-content-center.align-items-center.mt-3
            .col-4
                button.btn.mo.bg-white.mt-5(type='button' data-toggle='modal' data-target='#basicExampleModal')
                    img.img-a(src="assets/images/pages/ilustraciones/img21.png").img-fluid        

                #basicExampleModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
                    .modal-dialog(role='document')
                        .modal-content
                            .modal-header
                                h3#exampleModalLabel.modal-title
                                .list.mo-t-1
                                    .list__item
                                        .list__item__bulletNumber.mo-color-1
                                            span 1 
                                    .list__txt    
                                        p.mb-0 Ministerio de Salud y Protección Social
                                button.close(type='button' data-dismiss='modal' aria-label='Close')
                                    img.img-a.mo-top(src="assets/images/pages/ilustraciones/close.png").img-fluid        

                            .modal-body
                                .list.mt-3
                                    .list__item
                                        .list__item__icon
                                            img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                                    .list__txt    
                                        p.m-top Se encarga de la Rectoría del Sistema.

                                .list.mt-3
                                    .list__item
                                        .list__item__icon
                                            img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                                    .list__txt    
                                        p.m-top Establece lineamientos y protocolos para la atención integral en salud a las víctimas de ataques con agentes químicos.

                button.btn.mo.bg-white.mt-5(type='button' data-toggle='modal' data-target='#basicExampleModal2')
                    img.img-a(src="assets/images/pages/ilustraciones/img22.png").img-fluid        

                #basicExampleModal2.modal.fade(tabindex='-2' role='dialog' aria-labelledby='exampleModalLabel2' aria-hidden='true')
                    .modal-dialog(role='document')
                        .modal-content
                            .modal-header
                                h3#exampleModalLabel2.modal-title
                                .list.mo-t-2
                                    .list__item
                                        .list__item__bulletNumber.mo-color-2
                                            span 2 
                                    .list__txt    
                                        p.mb-0 Instituto Nacional de Salud
                                button.close(type='button' data-dismiss='modal' aria-label='Close')
                                    img.img-a.mo-top(src="assets/images/pages/ilustraciones/close.png").img-fluid        

                            .modal-body
                                .list.mt-3
                                    .list__item
                                        .list__item__icon
                                            img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                                    .list__txt    
                                        p.m-top Opera y desarrolla la Vigilancia en Salud Pública de las Violencias de Género e Intrafamiliar, en el marco del SGSSS.

                button.btn.mo.bg-white.mt-5(type='button' data-toggle='modal' data-target='#basicExampleModal3')
                    img.img-a(src="assets/images/pages/ilustraciones/img23.png").img-fluid        

                #basicExampleModal3.modal.fade(tabindex='-3' role='dialog' aria-labelledby='exampleModalLabel3' aria-hidden='true')
                    .modal-dialog(role='document')
                        .modal-content
                            .modal-header
                                h3#exampleModalLabel3.modal-title
                                .list.mo-t-3
                                    .list__item
                                        .list__item__bulletNumber.mo-color-3
                                            span 3 
                                    .list__txt    
                                        p.mb-0 Superintendencia Nacional de Salud
                                button.close(type='button' data-dismiss='modal' aria-label='Close')
                                    img.img-a.mo-top(src="assets/images/pages/ilustraciones/close.png").img-fluid        

                            .modal-body
                                .list.mt-3
                                    .list__item
                                        .list__item__icon
                                            img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                                    .list__txt    
                                        p.m-top Realiza acciones de inspección, vigilancia y control a las Empresas Administradoras de Planes de Beneficio-EAPB e Instituciones Prestadoras de Servicios de Salud-IPS.
            
            .col-4.mo-border.p-3
                h3.jumbotron.bg-white.mb-0 ¿ Quiénes son responsables de implementar el Protocolo de Atención de Urgencias a Víctimas de Ataques con Agentes Químicos?

            .col-4
                button.btn.mo.bg-white.mt-5(type='button' data-toggle='modal' data-target='#basicExampleModal4')
                    img.img-a(src="assets/images/pages/ilustraciones/img24.png").img-fluid        

                #basicExampleModal4.modal.fade(tabindex='-4' role='dialog' aria-labelledby='exampleModalLabel4' aria-hidden='true')
                    .modal-dialog(role='document')
                        .modal-content
                            .modal-header
                                h3#exampleModalLabel4.modal-title
                                .list.mo-t-4
                                    .list__item
                                        .list__item__bulletNumber.mo-color-4
                                            span 4 
                                    .list__txt    
                                        p.mb-0 Direcciones Territoriales de Salud en su función de autoridad sanitaria 
                                button.close(type='button' data-dismiss='modal' aria-label='Close')
                                    img.img-a.mo-top(src="assets/images/pages/ilustraciones/close.png").img-fluid        

                            .modal-body
                                .list.mt-3
                                    .list__item
                                        .list__item__icon
                                            img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                                    .list__txt    
                                        p.m-top Realizan acciones de inspección, vigilancia y control a las EAPB e IPS que operan en el territorio.

                                .list.mt-3
                                    .list__item
                                        .list__item__icon
                                            img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                                    .list__txt    
                                        p.m-top Socializan los lineamientos y protocolos para la atención integral en salud a las víctimas de ataques con agentes químicos.

                                .list.mt-3
                                    .list__item
                                        .list__item__icon
                                            img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                                    .list__txt    
                                        p.m-top Verifican la activación de la Ruta Intersectorial de Atención Integral a las Víctimas de Violencias de Género, por parte de las IPS y EAPB.

                                .list.mt-3
                                    .list__item
                                        .list__item__icon
                                            img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                                    .list__txt    
                                        p.m-top Las secretarías departamentales, distritales o municipales, deben notificar de forma inmediata los eventos de agresión por ácidos, álcalis o sustancias corrosivas al Sistema de Vigilancia en Salud Pública, teniendo en cuenta el Protocolo de Vigilancia en Salud Pública de las Violencias de Género e Intrafamiliar. 

                button.btn.mo.bg-white.mt-5(type='button' data-toggle='modal' data-target='#basicExampleModal5')
                    img.img-a(src="assets/images/pages/ilustraciones/img25.png").img-fluid        

                #basicExampleModal5.modal.fade(tabindex='-5' role='dialog' aria-labelledby='exampleModalLabel5' aria-hidden='true')
                    .modal-dialog(role='document')
                        .modal-content
                            .modal-header
                                h3#exampleModalLabel5.modal-title
                                .list.mo-t-5
                                    .list__item
                                        .list__item__bulletNumber.mo-color-5
                                            span 5 
                                    .list__txt    
                                        p.mb-0 Empresas Administradoras de Planes de Beneficios (Empresas Promotoras de Salud- EPS o entidades que hagan sus veces) deben:
                                button.close(type='button' data-dismiss='modal' aria-label='Close')
                                    img.img-a.mo-top(src="assets/images/pages/ilustraciones/close.png").img-fluid        

                            .modal-body
                                .list.mt-3
                                    .list__item
                                        .list__item__icon
                                            img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                                    .list__txt    
                                        p.m-top Tener Red vigente de:
                                            p • Atención de urgencias.
                                            p • Transporte de las #[strong vícitmas pacientes.]
                                            p • Institución y/o unidad especializada en atención a quemados contratada.

                                .list.mt-3
                                    .list__item
                                        .list__item__icon
                                            img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                                    .list__txt    
                                        p.m-top Prestar servicios en salud mental, hospitalarios y ambulatorios.

                                .list.mt-3
                                    .list__item
                                        .list__item__icon
                                            img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                                    .list__txt    
                                        p.m-top Garantizar de forma integral, tanto el conjunto de los servicios y tecnologías en salud financiados con recursos de la Unidad de Pago por Capitación-UPC, así como los medicamentos, Alimentos para Propósitos Médicos Especiales-APME, procedimientos y servicios complementarios, financiados con cargo al presupuesto máximo (Resolución 205 de 2020, Artículo 4, numeral 4.1).

                                .list.mt-3
                                    .list__item
                                        .list__item__icon
                                            img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                                    .list__txt    
                                        p.m-top Garantizar los servicios y tecnologías en salud de manera efectiva, oportuna, ininterrumpida y continua, tanto a la paciente hospitalizada, como a la ambulatoria, de conformidad con el criterio del profesional de la salud tratante, absteniéndose de limitar, restringir o afectar el acceso a los servicios y tecnologías en salud (Resolución 205, Artículo 4, numeral 4.1).
                                h3.mt-5 Además, deben:

                                .list.mt-3
                                    .list__item
                                        .list__item__icon
                                            img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                                    .list__txt    
                                        p.m-top Realizar monitoreo, seguimiento y control de los casos de agresiones por ácidos, álcalis o sustancias corrosivas que correspondan a su población afiliada, con énfasis en los casos de alto riesgo o mal pronóstico, con el objetivo de verificar que se brinde atención integral.

                                .list.mt-3
                                    .list__item
                                        .list__item__icon
                                            img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                                    .list__txt    
                                        p.m-top Verificar la activación de la Ruta Intersectorial de Atención Integral a las Víctimas de Violencias de Género, por parte de las IPS.

                button.btn.mo.bg-white.mt-5(type='button' data-toggle='modal' data-target='#basicExampleModal6')
                    img.img-a(src="assets/images/pages/ilustraciones/img26.png").img-fluid        

                #basicExampleModal6.modal.fade(tabindex='-6' role='dialog' aria-labelledby='exampleModalLabel6' aria-hidden='true')
                    .modal-dialog(role='document')
                        .modal-content
                            .modal-header
                                h3#exampleModalLabel6.modal-title
                                .list.mo-t-6
                                    .list__item
                                        .list__item__bulletNumber.mo-color-6
                                            span 6 
                                    .list__txt    
                                        p.mb-0 Instituciones Prestadoras de Servicios de Salud-IPS. 
                                button.close(type='button' data-dismiss='modal' aria-label='Close')
                                    img.img-a.mo-top(src="assets/images/pages/ilustraciones/close.png").img-fluid        

                            .modal-body
                                .list.mt-3
                                    .list__item
                                        .list__item__icon
                                            img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                                    .list__txt    
                                        p.m-top Contar con talento humano capacitado en atención a víctimas por agresiones con ácidos, álcalis o sustancias corrosivas y los recursos técnicos e insumos necesarios para implementar los pasos que le corresponden según nivel de atención.

                                .list.mt-3
                                    .list__item
                                        .list__item__icon
                                            img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                                    .list__txt    
                                        p.m-top Contar con talento humano sensibilizado en enfoque de género y abordaje psicosocial en la atención víctimas de violencias de género, para evitar el juzgamiento, y acompañar y orientar a las víctimas en todo su proceso de recuperación.

                                .list.mt-3
                                    .list__item
                                        .list__item__icon
                                            img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                                    .list__txt    
                                        p.m-top Contar con procesos y procedimientos definidos para la atención en urgencias de víctimas de ataques con agentes químicos (Resolución 4568 de 2014#[sup 1] y Resolución 3100 de 2019#[sup 2]).

                                .list.mt-3
                                    .list__item
                                        .list__item__icon
                                            img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                                    .list__txt    
                                        p.m-top Contar con el kit de emergencias para la atención a víctimas de ataques con agentes químicos.

                                .list.mt-3
                                    .list__item
                                        .list__item__icon
                                            img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                                    .list__txt    
                                        p.m-top Contar con documento del proceso institucional que orienta la atención en salud a víctimas de ataques con agentes químicos.

                                .list.mt-3
                                    .list__item
                                        .list__item__icon
                                            img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                                    .list__txt    
                                        p.m-top Contar con procesos y procedimientos estandarizados para la referencia de las víctimas a unidades especializadas en quemados u otras instituciones en donde reciban atención especializada.

                                .list.mt-3
                                    .list__item
                                        .list__item__icon
                                            img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                                    .list__txt    
                                        p.m-top Realizar los procesos de gestión pertinentes antes las EPS, para garantizar la atención integral en salud a las víctimas durante la hospitalización, así como en los tratamientos ambulatorios.

                                .list.mt-3
                                    .list__item
                                        .list__item__icon
                                            img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                                    .list__txt    
                                        p.m-top Activar la Ruta Intersectorial de Atención Integral a las Víctimas de Violencias de Género, para el acceso a seguridad y protección y justicia para las víctimas.

                                .list.mt-3
                                    .list__item
                                        .list__item__icon
                                            img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                                    .list__txt    
                                        p.m-top Notificar los eventos de agresión por ácidos, álcalis o sustancias corrosivas al Sistema de Vigilancia en Salud Pública#[sup 3] , teniendo en cuenta el Protocolo de Vigilancia en Salud Pública de las Violencias de Género e intrafamiliar.

                                .list.mt-3
                                    .list__item
                                        .list__item__icon
                                            img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                                    .list__txt    
                                        p.m-top Cuando las víctimas sean mujeres, coordinar con las Secretarías de Mujer u Oficinas de Género, en los territorios en los que estas existan.
        
        .row.justify-content-center.align-items-center
            .col-6
                .row.justify-content-center.align-items-center
                    .col-auto 
                        img.img-a(src="assets/images/pages/ilustraciones/img27.png").img-fluid

                    .col
                        p.text-red al dar clic en cada icono muestra una capa con contenido                                        

        .sub-ecored.mt-5#216    
            h2 2.16 Derechos en salud de las víctimas con agentes químicos
        .jumbotron.bg-white.pt-5.px-0.mb-0.mx-5
            img.mx-0.i-left-3(src="assets/images/pages/ilustraciones/img28.png").img-fluid    
            p.text-white.mb-0.jumbotron.bg-1 Las víctimas de ataques con agentes químicos tienen derecho a recibir una atención integral en salud lo cual incluye:      
        .row.justify-content-center.align-items-center
            .col-10
                .list.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                    .list__txt    
                        p.m-top La atención de urgencias, conforme al protocolo de atención de urgencias a víctimas de ataques con agentes químicos (Resolución 4568 de 2014).

                .list.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                    .list__txt    
                        p.m-top La atención en salud física y mental conforme a los servicios y tecnologías en salud incluidos en los beneficios financiados recursos de la UPC (Resolución 3512 de 2019 y anexos técnicos).

                .list.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                    .list__txt    
                        p.m-top Los servicios y tecnologías en salud necesarios para restituir la fisionomía y funcionalidad de las zonas afectadas (no financiados con la UPC) financiados con cargo a los presupuestos máximos (Resolución 205 de 2020, Artículo 5°).

                .list.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                    .list__txt    
                        p.m-top Excepción de cuotas moderadoras y copagos en los servicios, tratamientos médicos y psicológicos, procedimientos e intervenciones necesarias para restituir la fisionomía y funcionalidad de las zonas afectadas (Circular 016 de 2014, numeral 9).

                .list.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                    .list__txt    
                        p.m-top A que se informe a las autoridades competentes la ocurrencia del hecho punible, si la persona afectada no lo ha realizado o sus condiciones de salud se lo impiden.

                .list.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                    .list__txt    
                        p.m-top A que se recolecten y preserven las evidencias del hecho punible que aporten a la investigación de las autoridades competentes.

                .list.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                    .list__txt    
                        p.m-top A que se le tome declaración en el sitio del ataque o en el hospital.

                .list.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                    .list__txt    
                        p.m-top A que se les informe y oriente acerca de sus derechos en salud y derechos de medidas de atención para ella y sus hijas e hijos.

                .list.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                    .list__txt    
                        p.m-top A que las cargas administrativas, para acceder a los tratamientos, no sean asumidas por las víctimas.

                .list.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                    .list__txt    
                        p.m-top A que se le informe y oriente acerca de sus derechos, medidas,  recursos de protección y de acceso a la justicia (Ley 1639 de 2013, Artículo 4°).

                .list.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                    .list__txt    
                        p.m-top A que se active la ruta intersectorial de atención integral a las víctimas de violencias de género.

                .list.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                    .list__txt    
                        p.m-top A ser atendidas con enfoque de derechos, género y diferencial.                    

