.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Nombre del documento o material.
                    th.text-center Tipo de material. 
                    th.text-center Enlace del Recurso.

            tbody

            
                tr
                    td Gaviria-Castellanos, J.L., Gómez-Ortega, V., & Gutiérrez, P.. (2015). Quemaduras químicas por agresión: características e incidencia recogidas en el Hospital Simón Bolívar.
                    
                    td Artículo
                    td 
                        a(href="http://scielo.isciii.es/scielo.php?script=sci_arttext&pid=S0376-78922015000100009&lng=en&nrm=iso&tlng=en", target="_blank") <span class="fa fa-external-link mr-3" aria-hidden="true"></span> ver