include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
        +referenciaItem("Burin, M., & Meler, I. (1998). Género y Familia- Poder, amor y sexualidad en la construcción de la subjetividad. Buenos Aires, Barcelona, México: Paidós.", " ")
        
    
        +referenciaItem("Circular 16 de 2014, Asunto: Exención concurrente del pago de cuotas moderadoras y copagos por leyes especiales. 22 Mar, 2014 Núm. 49103", " ")

    
        +referenciaItem("Constitución Política de Colombia [Const]. Art. 13. 7 de julio de 1991 (Colombia).", " ")

    
        +referenciaItem("Constitución Política de Colombia [Const]. Art. 43. 7 de julio de 1991 (Colombia).", " ")

        +referenciaItem("Constitución Política de Colombia [Const]. Art. 93. 7 de julio de 1991 (Colombia).", " ")

        +referenciaItem("Corte Constitucional. Jueves, 31 de julio de 2008, M.P: Manuel José Cepeda Espinosa, Tutela T-760 de 2008.", " ")

        +referenciaItem("Decreto 1033 de 2014, Por el cual se reglamenta la Ley 1639 de 2013 por medio de la cual se fortalecen las medidas de protección a la integridad de las víctimas de crímenes con ácido y se adiciona el artículo 113 de la Ley 599 de 2000. 29 mayo, 2014 Núm. 49167.", " ")

        +referenciaItem("Gaviria-Castellanos, J.L., Gómez-Ortega, V., & Gutiérrez, P.. (2015). Quemaduras químicas por agresión: características e incidencia recogidas en el Hospital Simón Bolívar, Bogotá, Colombia. Cirugía Plástica Ibero-Latinoamericana, 41(1), 73-82.  ", "https://dx.doi.org/10.4321/S0376-78922015000100009")

        +referenciaItem("INMLCF.  Forensis Datos oficiales sobre la violencia en Colombia. Octubre 6, 2020.", "http://www.medicinalegal.gov.co/forensis")

        +referenciaItem("Ley 599 de 2000, Por la cual se expide el Código Penal. (Diario Oficial 44097, julio 24 de 2000) 24 Jul, 2000.", " ")

        +referenciaItem("Ley 1257 de 2008, por la cual se dictan normas de sensibilización, prevención y sanción de formas de violencia y discriminación contra las mujeres, se reforman los Códigos Penal, de Procedimiento Penal, la Ley 294 de 1996 y se dictan otras disposiciones. (Diciembre 4 de 2008) 04 Dic, 2008..", " ")

        +referenciaItem("Ley 1438 de 2011, Por medio de la cual se reforma el Sistema General de Seguridad Social en Salud y se dictan otras disposiciones. (Diario Oficial 47957, Enero 19 de 2011). 19 Ene, 2011.", " ")

        +referenciaItem("Ley 1639 de 2013, Por medio de la cual se fortalecen las medidas de protección a la integridad de las víctimas de crímenes con ácido y se adiciona el artículo 113 de la Ley 599 de 2000. 02 Jul, 2013 Núm. 48839.", " ")

        +referenciaItem("Ley 1773 de 2016, Por medio de la cual se crea el artículo 116A, se modifican los artículos 68A, 104, 113, 359, y 374 de la Ley 599 de 2000 y se modifica el artículo 351 de la Ley 906 de 2004. 06 Ene, 2016 Núm. 49747.", " ")

        +referenciaItem("Ley 1971 de 2019, Por medio de la cual se modifica el artículo 5° de la Ley 1639 de 2013, se crean otras medidas de protección a favor de las víctimas de delitos con sustancias corrosivas a la piel, y se dictan otras disposiciones.   12 julio, 2019 Núm. 51012.", " ")

        +referenciaItem("Ministerio de Salud y Protección Social. (03, Junio, 2014). Se reglamentan las medidas de protección a la integridad de las víctimas de crímenes con ácido.", " ")

        +referenciaItem("Resolución 4568 de 2014, Por la cual se adopta el ?Protocolo de Atención de Urgencias a Víctimas de Ataques con Agentes Químicos?. 16 Oct, 2014 Núm. 49325.", " ")

        +referenciaItem("Resolución 5521 de 2013, Se define, aclara y actualiza integralmente el Plan Obligatorio de Salud (POS). 27 Dic, 2013 Núm. 49019.", " ")

        
        .row.justify-content-between.align-items-center

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-picture-o.fa-2x.text-center
                        p.text-center.flex-grow-1 Fotografías y vectores tomados de <a href="https://www.shutterstock.com/" target="_blank">https://www.shutterstock.com/</a> y <a href="https://www.freepik.es/" target="_blank">https://www.freepik.es/</a>

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-creative-commons.fa-2x.text-center
                        p.text-center.flex-grow-1 Licencia Creative Commons <br> <strong>CC BY-NC-SA</strong><br> <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/es/" target="_blank">Ver licencia.</a>            